@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  animation: fadeIn 0.5s ease-in;
}

main {
  background-color: var(--layout-color);
  flex: 1;
  padding: 5vw 1vh;
  margin-top: 5vh;
  margin-bottom: 2vh;
}
