.header {
  background-color: var(--secondary-color);
  color: var(--font-main-color);
  padding: 1vw;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 5vw;
}

.header h1 {
  margin: 0;
  font-size: clamp(0.5em, 2vw, 1.5em);
}

.menuContainer {
  display: flex;
  width: 70vw;
  justify-content: end;
  position: relative;
}

.menuButton {
  background: none;
  border: none;
  color: var(--font-main-color);
  font-size: 2em;
  cursor: pointer;
}

.languageMenu {
  position: absolute;
  top: 100%;
  right: -2%;
  background-color: var(--secondary-color);
  border: 1px solid var(--font-main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.flagItem {
  cursor: pointer;
  padding: 0.5em 0;
}

@media (max-width: 650px) {
  .header {
    min-height: 5vh;
  }
  .header img {
    width: 10vw;
  }
}
