.header {
  background-color: #222;
  color: white;
  padding: 1vw;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 5vw;
}

.header h1 {
  margin: 0;
  font-size: clamp(0.5em, 2vw, 1.5em);
}

@media (max-width: 600px) {
  .header {
    min-height: 5vh;
  }
  .header img {
    width: 10vw;
  }
}
