:root {
  --main-color: #ffffb7;
  --secondary-color: #222;
  --layout-color: #a8a87e;
}

@font-face {
  font-family: 'Sawarabi Mincho';
  src:
    local('Sawarabi Mincho'),
    url('./fonts/SawarabiMincho-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sawarabi Mincho';
}
